<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-slides autoplay="3000" pager>
      <ion-slide *ngFor="let number of [1,2,3,4]">
        <img src="./assets/images/{{number}}.jpg" />
      </ion-slide>
    </ion-slides>
  </ion-card>
  
  <ion-card>
      <ion-slides *ngIf="products && products.length"  autoplay="3000" pager>
        <ion-slide *ngFor="let product of products">
          <div>
              <img [src]="product.featured_src" />
          </div>
          <h1>
            {{product.title}}
          </h1>
          <p>
            {{product.description}}
          </p>
        </ion-slide>
      </ion-slides>
    </ion-card>
</ion-content>

